# Arquivos

**/logs
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/lerna-debug.log*
**/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
**/pids
**/*.pid
**/*.seed
**/*.pid.lock
**/*.lcov
**/.nyc_output
**/.grunt
**/.lock-wscript
**/*.tsbuildinfo
**/.eslintcache
**/*.tgz
**/.yarn-integrity
**/.cache
**/.tern-port
**/*.py[cod]
**/*$py.class
**/*.so
**/.Python
**/.installed.cfg
**/*.egg
**/MANIFEST
**/*.manifest
**/*.spec
**/pip-log.txt
**/pip-delete-this-directory.txt
**/.coverage
**/.coverage.*
**/.cache
**/nosetests.xml
**/coverage.xml
**/*.cover
**/*.py,cover
**/*.mo
**/*.pot
**/*.log
**/local_settings.py
**/db.sqlite3
**/db.sqlite3-journal
**/.webassets-cache
**/.scrapy
**/.ipynb_checkpoints
**/ipython_config.py
**/celerybeat-schedule
**/celerybeat.pid
**/*.sage.py
**/.env
**/.env.test
**/.venv
**/.spyderproject
**/.spyproject
**/.ropeproject
**/site
**/.dmypy.json
**/dmypy.json

# Pastas

**/lib-cov
**/coverage
**/bower_components
**/build/Release
**/node_modules/
**/jspm_packages/
**/typings/
**/.npm
**/.rpt2_cache/
**/.rts2_cache_cjs/
**/.rts2_cache_es/
**/.rts2_cache_umd/
**/.next
**/.nuxt
**/dist
**/.cache/
**/.vuepress/dist
**/.serverless/
**/.fusebox/
**/.dynamodb/
**/__pycache__/
**/build/
**/develop-eggs/
**/dist/
**/downloads/
**/eggs/
**/.eggs/
**/lib/
**/lib64/
**/parts/
**/sdist/
**/var/
**/wheels/
**/share/python-wheels/
**/*.egg-info/
**/htmlcov/
**/.tox/
**/.nox/
**/.hypothesis/
**/.pytest_cache/
**/cover/
**/instance/
**/docs/_build/
**/.pybuilder/
**/target/
**/profile_default/
**/__pypackages__/
**/env/
**/venv/
**/ENV/
**/env.bak/
**/venv.bak/
**/.mypy_cache/
**/.pyre/
**/.pytype/
**/cython_debug/
